.main {
    display: grid;
    justify-content: center;
    align-items: center;
}


body {
    font-family: 'Quicksand', sans-serif;

    background-image: url(images/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin-top: -20px;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    font-size: 8rem;
    font-family: 'Qwitcher Grypen', cursive;
    color: #333030;
    text-shadow: 1px 1px 1px whitesmoke, 0 0 1vw whitesmoke, 0 0 1vw whitesmoke, 0 0 1vw whitesmoke, 0 0 1vw whitesmoke;
}

img {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    size-adjust: auto;
    width: fit-content;
    height: fit-content;
}

img#mic {
    margin-top: -15px;
}

button {
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(13, 35, 60, 0.801);
    color: white;
    border: none;
    margin-bottom: 5px;
    border-radius: 8px;
    width: inherit;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 5px;

}

.menufull {
    display: table-column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    z-index: 100;
}

.menufull button {
    background-color: rgba(13, 35, 60, 0.801);
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 10px;
    padding: 3px 10px;
    font-size: 1.3rem;
    font-weight: 500;


}

.menufull .opt {
    background-color: rgba(13, 35, 60, 0.801);
    color: white;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-right: 10px;
    padding: 3px 10px;
    font-size: large;
    font-weight: 500;
}

.menufull img {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 10px;
    border-radius: 8px;
    background-color: rgb(10, 10, 10);
    scale: 0.93;
    margin-top: -5px;
}

.menufull img#micFull {
    margin-top: -2px;
}

.menufull button:hover {
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-right: 10px;
    padding: 0px 10px;
    cursor: pointer;
    font-size: large;
    font-weight: 500;
    box-shadow: 1px 1px 1px whitesmoke, 0 0 1vw whitesmoke, 0 0 1vw whitesmoke, 0 0 1vw whitesmoke, 0 0 1vw whitesmoke;
}

.menufull .opt:hover {
    background-color: black;
    color: white;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 3px 10px;
    cursor: pointer;
    font-size: large;
    font-weight: 500;
    box-shadow: 1px 1px 1px whitesmoke, 0 0 1vw whitesmoke, 0 0 1vw whitesmoke, 0 0 1vw whitesmoke, 0 0 1vw whitesmoke;
}

.btn {
    display: flex;
    width: 100%;
}

.ocultar {
    display: none;
}

.ocultaropt {
    display: none !important;
}

div.opt {
    display: flex;
    justify-content: space-around;
    background-color: rgba(13, 35, 60, 0.801);
    border: none;
    margin-bottom: 5px;
    border-radius: 8px;
    width: auto;
    font-size: 1rem;
    color: white;
    padding: 5px 3px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

div.optFull {
    justify-content: space-around;
    background-color: rgba(240, 248, 255, 0.801);
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 1rem;
    color: black;
    padding: 5px;
    display: flex;
    position: fixed;
    top: 45px;
    left: 0;
    padding: 10px;
    z-index: 100;
    border: 1px solid black;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.output {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 50px;
    border: none;
    background-color: #f0f8ff;
    border-radius: 8px;
    width: 910px;
    padding: 10px;
    text-transform: uppercase;
    overflow-y: scroll;
    height: 75vh;
}

.output.fullscreen {
    text-align: center;
    position: relative;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding: 50px;
    font-size: 7rem;
    color: #000;
}

p {
    font-family: 'Quicksand', sans-serif;
    margin: 10px 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 4rem
}

#top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.head button {
    width: 430px;
}

input {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    width: 55px;
    border: none;
    border-radius: 8px;
    padding: 3px;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
}

select#fontFamilySelectFull {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: inherit -1px;
    border-radius: 8px;
    padding: 3px;

}

select#fontFamilySelect {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: inherit;
    border-radius: 8px;
}

select#languageSelect {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: inherit;
    border-radius: 8px;
}

details {
    display: flex;
    justify-content: left;
    color: white;
    position: relative;
}

details p {
    color: white;
    display: flex;
    justify-content: left;
    position: unset;
    top: -10px;
    font-size: 1.3rem;
    width: 850px;

}

.detailsfull {
    text-align: left;
    display: flex;
    justify-content: left !important;
    color: white;
    font-size: 0.8rem;
    margin-left: 0px;
    width: fit-content;
    padding: 2px 8px 4px;
    border-radius: 8px;
    background-color: rgba(13, 35, 60, 0.801);
    font-weight: 500;
}

.pfull {
    color: white;
    display: flex;
    justify-content: left !important;
    top: -10px;
    font-size: 1.3rem;
    width: 120%;
}

@media screen and (max-width: 768px) {
    .head {
        flex-direction: column;
        align-items: center;
    }

    .main {
        display: contents;
    }

    h1 {
        text-align: center;
    }

    .head button {
        width: auto;
        margin-bottom: 10px;
        padding: 5px 15px;
    }

    .output {
        width: 100%;
        padding: 5px;
    }

    .opt {
        flex-direction: column;
        align-items: center;

    }

    div.opt {
        width: 100%;

    }

}